* {
  box-sizing: border-box;
}

body {
	font-family:Verdana;
	
	
}

#zagl {
	text-align: center;
  text-shadow:3px 3px green;

}

a {
	text-decoration: none;
}



.menuitem {

	width: 16.1%;
	height: 65px;
  text-align: center;
  margin-top: 4px;
   margin-left: 6px;
    margin-bottom: 4px;
  border: 2px solid blue;
  float: left;
  
   
}

.menuitem1 {
	width: 16.1%;
	height: 65px;
  text-align: center;
  margin-top: 4px;
   margin-left: 6px;
    margin-bottom: 4px;
  border: 2px solid blue;
  float: left;
  background-color: darkblue;
  color: white;
  
}

.menuitem:hover {
	background-color: darkblue;
	color: white;
	}

.menuitem:hover a{
	color: white;
}

#bg {
	background-image: url('fon1.png');
	height: 150px;
	width:100%;
	
}

#img {
	display: block;
	width:50%;
	margin-left: auto;
	margin-right: auto;
}


.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
  background-color: lightblue;
}
.right {
 
  float: left;
  width: 40%;
  background-color: lightblue;

}

# new1 {
background-color: lightblue;
width: 40%;
}

.desen {
	border: 1px solid blue;
	background-color: white;
	padding-left: 5px;
}

.desen1 {
	border: 1px solid blue;
	background-color: darkblue;
	padding-left: 5px;
}
.desen1 a {
	color: white;
}

.desen:hover {
	 background-color: darkblue;
	 padding-left: 10px;
}

.desen:hover a {
	 color: white;
}

#empty {
	width: 533px;
	height: 385px;
	background-color: lightblue;
	margin: 0;
	
}

#pp {
	padding-top: 10px;
	text-shadow: 1px 1px blue;
}

#vid {
	background-color: lightgreen;
	text-align: center;
	margin: 0;
	box-shadow: 2px 5px 2px 2px darkblue;
	width: 99%;
}

#map2 {
	padding-left: 5px;
	/* float: left; */
	width: 100%;
	height: 736px;
	/* height: 500px;  */
	
}

.footer {
	background-color: darkblue;
	text-align:left;
	padding:10px;
	margin-top:7px;
	font-size:12px;
	float: left;
	width: 50%;
	color: white;
}

.footer2 {
	background-color: darkblue;
	text-align:right;
	padding:10px;
	margin-top:7px;
	font-size:12px;
	float: left;
	width: 50%;
	color: white;
}

.butonl {
	float: left;
	margin-right: 20px;
	margin-top: 200px;
} 

.butonr {
	float: right;
	margin-top: 200px;
}

#myImage {
	
	margin-top: 20px;
	width: 59%;
}

#myImage2 {
	margin-left: 7px;
	margin-top: 20px;
	width: 59%;
}

#myImage3 {
	
	margin-top: 20px;
	margin-bottom: 10px;
	width: 59%;
}



@media only screen and (max-width:1000px) {
  /* For tablets: */
  .menuitem {
	width: 30%;
font-size: 10px;	
  }
  
  #zagl {
	  font-size: 20px;
  }
  
  .main {
    width: 95%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
  
  #map2 {
	
	  width: 50%; 
	  height: auto;
  }
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .menuitem {
	width: 32%;
font-size: 10px;	
  }
  .menuitem1 {
	width: 32%;
font-size: 10px;	
  }
  
  #zagl {
	  font-size: 16px;
  }
  
  #img {
	  float: left;
	  margin-right: 10px;
  }
  
  .main {
    width: 100%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
   #empty {
	  height: 10px;
	  width: 100%;
  }
  iframe {
	  height: 180px;
  }
  
  #map2 {
	
	  width: 50%; 
	  height: auto;
  }
  
  #zagl {
	text-align: right;
 }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right, .menuitem, .menuitem1 {
    width: 100%;
  }
  .main {
	  padding-left: 5px;
  }
  
  .menuitem, .menuitem1 {
	  margin: 2px 0px 0px 0px;
	}
  
  .menuitem:last-child {
	 margin: 2px 0px 2px 0px; 
  }
  #bg {
	  height: 150px;
  }
  
  #empty {
	  height: 3px;
	  width: 100%;
  }
  iframe {
	  height: 180px;
  }
  #bg {
	background-image: url('zagl2.jpg');
}

#img {
	margin-top: 8px;
}

#zagl {
	text-align: right;
  text-shadow: 1px 2px green;
}

.butonl {
	float: left;
	margin-top: 50px;
	margin-left: 2px;

} 

.butonr {
	
	float: right;
	margin-top: 50px;
	margin-right: 2px;
}

#myImage {
	
	float: left;
	margin-top: 20px;
	width: 10%;
}

#myImage2 {
	float: left;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 1px;
	width: 10%;
}

#myImage3 {
	float: left;
	margin-top: 20px;
	width: 10%;
}
}
